POWERARR_PLUS_PORT=17896
POWERARR_PLUS_STORE=sqlite
POWERARR_PLUS_DB_PATH=/data/powerarrplus.sqlite3
POWERARR_PLUS_REDIS_HOST=host.docker.internal
POWERARR_PLUS_REDIS_PORT=6379
POWERARR_PLUS_KEY_PREFIX=powerarr_plus:prowlarr_seen_filter
POWERARR_PLUS_ALLOW_ORIGIN=*
